<nav>
  <div class="nav-wrapper deep-purple">
    <a href="/" class="brand-logo">
      <i class="material-icons">restaurant</i>Brandi
    </a>
    <ul class="right">
      <li><a href="/">Home</a></li>
      <li><a href="/spots">Full Spots List</a></li>
      <li><a href="/spots/new">Add New Spot</a></li>
    </ul>
  </div>
</nav>
